In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("C:/dsbda/chocolateSales.csv")

In [4]:
df.head()

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04/01/2022,"$5,320.00",180
1,Van Tuxwell,India,85% Dark Bars,01/08/2022,"$7,896.00",94
2,Gigi Bohling,India,Peanut Butter Cubes,07/07/2022,"$4,501.00",91
3,Jan Morforth,Australia,Peanut Butter Cubes,27/04/2022,"$12,726.00",342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24/02/2022,"$13,685.00",184

In [5]:
df.tail()

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
3277,Karlen McCaffrey,Australia,Spicy Special Slims,17/05/2024,"$5,303.58",354
3278,Jehu Rudeforth,USA,White Choc,07/06/2024,"$7,339.32",121
3279,Ches Bonnell,Canada,Organic Choco Syrup,26/07/2024,$616.09,238
3280,Dotty Strutley,India,Eclairs,28/07/2024,"$2,504.62",397
3281,Karlen McCaffrey,India,70% Dark Bites,23/05/2024,"$5,915.87",355

In [6]:
df.index

RangeIndex(start=0, stop=3282, step=1)

In [7]:
df.columns

Index(['Sales Person', 'Country', 'Product', 'Date', 'Amount',
       'Boxes Shipped'],
      dtype='object')

In [8]:
df.shape

(3282, 6)

In [9]:
df.dtypes

Sales Person     object
Country          object
Product          object
Date             object
Amount           object
Boxes Shipped     int64
dtype: object

In [10]:
df.columns.values

array(['Sales Person', 'Country', 'Product', 'Date', 'Amount',
       'Boxes Shipped'], dtype=object)

In [11]:
df.describe()

       Boxes Shipped
count    3282.000000
mean      164.666971
std       124.024736
min         1.000000
25%        71.000000
50%       137.000000
75%       232.000000
max       778.000000

In [12]:
df[Country]

NameError: name 'Country' is not defined

In [13]:
df.iloc[5]

Sales Person            Van Tuxwell
Country                       India
Product          Smooth Sliky Salty
Date                     06/06/2022
Amount                    $5,376.00
Boxes Shipped                    38
Name: 5, dtype: object

In [14]:
df[0:3]

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04/01/2022,"$5,320.00",180
1,Van Tuxwell,India,85% Dark Bars,01/08/2022,"$7,896.00",94
2,Gigi Bohling,India,Peanut Butter Cubes,07/07/2022,"$4,501.00",91

In [15]:
df.isnull()

      Sales Person  Country  Product   Date  Amount  Boxes Shipped
0            False    False    False  False   False          False
1            False    False    False  False   False          False
2            False    False    False  False   False          False
3            False    False    False  False   False          False
4            False    False    False  False   False          False
...            ...      ...      ...    ...     ...            ...
3277         False    False    False  False   False          False
3278         False    False    False  False   False          False
3279         False    False    False  False   False          False
3280         False    False    False  False   False          False
3281         False    False    False  False   False          False

[3282 rows x 6 columns]

In [17]:
df.isnull().any()

Sales Person     False
Country          False
Product          False
Date             False
Amount           False
Boxes Shipped    False
dtype: bool

In [18]:
df.isnull().sum().sum()

0

In [19]:
from sklearn import preprocessing

In [20]:
min_max_scaler = preprocessing.MinMaxScaler()

In [21]:
x = df.iloc[:, :-1]

In [22]:
x_scaled = min_max_scaler.fit_transform(x)

ValueError: could not convert string to float: 'Jehu Rudeforth'

In [23]:
x = df.select_dtypes(include=['int64', 'float64'])

In [24]:
x_scaled = min_max_scaler.fit_transform(x)

In [25]:
df_normalized = pd.DataFrame(x_scaled, columns=x.columns)

In [26]:
df_normalized

      Boxes Shipped
0          0.230373
1          0.119691
2          0.115830
3          0.438867
4          0.235521
...             ...
3277       0.454311
3278       0.154440
3279       0.305019
3280       0.509653
3281       0.455598

[3282 rows x 1 columns]

In [ ]:
import os